<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns:int="http://www.springframework.org/schema/integration"
	xsi:schemaLocation="
		http://www.springframework.org/schema/integration 
		http://www.springframework.org/schema/integration/spring-integration.xsd
		">


	<int:channel id="newAccounts">
	<int:service-activator input-channel="positionsChannel"
		ref="newPositionProcessor"
		method="processNewPosition">	
	</int:service-activator>

	<bean id="nwePositionProcessor" class="com.apple.labs.spring.integration">
	</bean>
	
	<int:channel id="tradesChannel">
	<jms:inbound-channel-adapter id="tradesJmsAdapter"
		connection-factory="connectionFactory"
		destination="tradesQueue"
		channel="tradesChannel">
		
		<int:poller fixed-rate="1000">
	
	</jms:inbound-channel-adapter>
	
	<bean id="tradesQueue"
		class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="TRADES_QUEUE">	
	</bean>
	
	<bean id="connectionFactory"
		class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>tcp://localhost:61616</value>
		</property>
	</bean>
	
	<int:service-activator
		input-channel="tradesChannel"
		ref="newTradeProcessor"
		method="processNewTrade">
	</int:service-activator>
	
	<bean id="newTradeProcessor"
		class="com.apple.labs.spring.integration.NewTradeProcessor">
		
</beans>